package goplayground

import (
	"math/rand"
)

{% for len in lengths %}
func buildMapUsingLiteral{{ len }}() map[string]int {
	return map[string]int{
{% for i in range(len) %}
		"key{{ i }}": rand.Int(),
{% endfor %}
	}
}

func buildMapUsingLiteralConst{{ len }}() map[string]int {
	return map[string]int{
{% for i in range(len) %}
		"key{{ i }}": 0,
{% endfor %}
	}
}

{% endfor %}
// MapBuilder factory type
type MapBuilder func() map[string]int

var buildersRegistry = map[int]MapBuilder {
{% for len in lengths %}
	{{ len }}: buildMapUsingLiteral{{ len }},
{% endfor %}
}

var constBuildersRegistry = map[int]MapBuilder {
{% for len in lengths %}
	{{ len }}: buildMapUsingLiteralConst{{ len }},
{% endfor %}
}